[core]
	filemode = true
	excludesfile = ~/.gitignore
	pager = diff-so-fancy | less --tabs=4 -RFX
[user]
	email = me.rndtx@gmail.com
	name = Niko Tidar Lantang Perkasa
	signingkey = 5850E5A4
[push]
	default = simple
[color]
	ui = true
[alias]
	ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
	graph = log --graph --pretty="format:%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]"
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
[credential "https://github.com"]
	username = nikotidar

[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = 3 normal
	old = red bold
	new = green bold
	whitespace = normal
	func = 10 normal
[diff-so-fancy]
	markEmptyLines = false
	changeHunkIndicators = false
	stripLeadingSymbols = false
	useUnicodeRuler = false
	rulerWidth = 47
[gpg]
	program = /usr/local/bin/gpg
[commit]
	gpgsign = true
[init]
	defaultBranch = master
[color "decorate"]
	HEAD = 14 normal italic
	remotebranch = 13 normal
	grafted = 1 normal italic
	tag = 3 normal bold
	stash = 8 normal
	branch = 14 normal
[color "grep"]
	filename = 7 normal
	function = 10 normal
	column = 8 normal
	linenumber = 8 normal
[color "interactive"]
	header = normal
	help = 8 normal
	error = 1 normal italic
[color "status"]
	changed = 3 normal
	unmerged = 1 normal
	nobranch = 1 normal italic
	updated = 2 normal
	localbranch = 14 normal
	added = 2 normal
	untracked = normal dim
	header = normal
	remotebranch = 13 normal
	branch = 14 normal
[color "branch"]
	remote = 13 normal
	upstream = 13 normal
	plain = 14 normal
	current = 14 normal reverse
	local = 14 normal
[color "remote"]
	success = 2 normal
	error = 1 normal
	hint = normal dim
	warning = 3 normal
